<a ui-sref="home">Home</a> &gt;
<a ui-sref="categories">Categories</a>&gt;
<ol>
    <li ng-repeat="item in itemsCtrl.menuItems">
        <table>
            <tr>
                <td>Id:</td>
                <td>{{item.id}}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{item.name}}</td>
            </tr>
            <tr>
                <td>Short name:</td>
                <td>{{item.short_name}}</td>
            </tr>
            <tr>
                <td>Large portion name:</td>
                <td>{{item.large_portion_name}}</td>
            </tr>
            <tr>
                <td>Price large:</td>
                <td>{{item.price_large}}</td>
            </tr>
            <tr>
                <td>Small portion name:</td>
                <td>{{item.small_portion_name}}</td>
            </tr>
            <tr>
                <td>Price small:</td>
                <td>{{item.price_small}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </li>
</ol>