<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="container" ng-controller="NarrowItDownController as mainCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group  col-md-12">
      <input type="text" placeholder="search term"
        class="form-control" ng-model="mainCtrl.searchTerm">
     <button class="btn btn-primary narrow-button"
        ng-click="mainCtrl.getFilteredItems();">Narrow It Down For Me!</button>
    </div>
    <div class="loader">
    <div ng-hide="mainCtrl.isHidden" class="col-md-6">Nothing Found</div>
      <!-- found-items should be implemented as a component  -->
      <found-items narrowed-menu="mainCtrl.found"
        on-remove="mainCtrl.removeItem(index);"></found-items>
      </div>
  </div>
</body>
</html>
